main {
	margin-left: 10px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}
main .self_data {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
main .self_data .box{
	position: relative;
	display: flex;
	align-items: center;
	gap: 5px;
}
main .self_data .box .input{
	height: 50%;
}
main .self_data .box .input.people_count_input::-webkit-outer-spin-button,
main .self_data .box .input.people_count_input::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0;
}
main .self_data .box .Errorinfo {
	color: red;
}

main .after_info .bar{
	display: flex;
	gap: 10px;
}
main .after_info .bar select{
	width: 100px;
	text-align: center;
}
main .after_info .checkboxes {
	display: grid;
	grid-template-columns: repeat(5,85px);
}

.output {
	width: 80%;
	resize: none;
}