* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
}
header {
	margin-bottom: 25px;
}
main {
}

main .self_data {
	width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	margin-bottom: 25px;
}

main .self_data .box {
	display: flex;
	justify-content: center;
	align-items: center;
}
main .self_data .box .info {
	margin-right: 10px;
}
main .self_data .box .Errorinfo {
	margin: 0 10px;
	color: red;
}
main .self_data .box .people_count_input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
main .self_data button {
	align-self: flex-end;
	min-width: 80px;
}

main .after_info {
	width: fit-content;
	margin-left: 20px;
	max-width: 80%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
main .after_info .bar {
	display: flex;
	gap: 10px;
}
main .after_info .bar select{
	width: 20%;
	min-width: 90px;
	text-align: center;
}
main .after_info .checkboxes {
	max-width: 300px;
	width: max-content;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 15px;

}
main .after_info .checkboxes label input{
	margin-right: 3px;
}
main .after_info .checkboxes label small{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	color: rgb(0, 22, 253);
	border-bottom: 2px solid #595959;
}
main .after_info textarea {
	width: 300px;
	resize: none;
}
main .after_info .show {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
main .after_info .show button {
	width: 80px;
	align-self: flex-end;
}